/*----Body----*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  color: #fff;
  background: #ffd9b3;
  margin: 2rem 0 0 0;
  transition: .5 ease;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

/*----Nav style----*/

header{
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .6s ease;
}

header.sticky{
  background: rgba(245, 212, 178, 0.3);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(20px);
}

.nav-bar{
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: .6s ease;
}

header.sticky .nav-bar{
  height: calc(2.5rem + 1rem);
}

.nav-bar .logo{
  color: var(--first-color);
  font-size: 1.3em;
  font-weight: 600;
}

.nav-items a{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-items a:not(:last-child){
  margin-right: 50px;
}

.nav-items a:hover{
  color: var(--second-color);
}

.logo{
    width: 80px;
}






.about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 1px;
}

.about-text h2 {
  font-size: 40px;
  line-height: 1;
}

.about-text p {
  color: #111;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 4rem;
}



.about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img1 {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 40px;
  line-height: 1;
}

.about-text p {
  color: #111;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 4rem;
}